header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  gap: 24px;
}

.links {
  display: flex;
  gap: 16px;

  width: 100%;

  .active-link {
    font-weight: bold;
  }
}


